/* CSS Document */

@charset "UTF-8";
/* Body */
body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    background-color: #FFFFFF;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 100;	
}
/* Container */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    background-color: #FFFFFF;
    text-align: center;
}
/* Navigation */
header {
    width: 100%;
    height: 6%;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgba(58,58,58,0.63);
}

header  ul li:hover{
	font-size: 16px; 
}
.logo {
    color: #FDFDFD;
    font-weight: 1200;
    text-align: center;
    width: 31%;
    float: left;
    margin-top: 18px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    letter-spacing: 4px;
    display: block;
    padding-left: 21px;
    font-size: 28px;
    text-shadow: 2px 0px rgba(0,74,23,1.00);
}
nav {
    float: right;
    width: 50%;
    text-align: right;
    margin-right: 20px;
    padding-top: 8px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 20px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
    color: #FFFFFF;
}
.hero_header {
    color: #026732;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 2px;
    font-size: 24px;
}
/* Hero Section */
.hero {
	background-color: #B3B3B3;
	padding-top: 150px;
	padding-bottom: 150px;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    width: 100%;
    font-size: 38px;
    margin-right: auto;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: auto;
    padding-right: auto;
    margin-top: -415px;
}
/* About Section */
.text_column {
    width: 96%;
    text-align: justify;
    line-height: 30px;
    float: left;
	padding-left: 20px
	padding-right: 20px;
    color: #A3A3A3;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding-left: 30px;
}
.about {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-top: 0px;
    width: auto;
    padding-bottom: 0px;
}
/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
    clear: both;
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    /* [disabled]min-width: 400px;
*/
    padding-bottom: 5px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail {
    width: 50%;
    text-align: center;
    float: left;
    margin-top: 35px;
    margin-bottom: 37px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/IMG-20191023-WA0017.jpg');

   

}
.bannervid {
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

video {
    margin-bottom: 5px;
    width: 99%;
    margin-top: 52px;
    padding-top: 16px;
}

.banner2 {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/IMG-20191023-WA0009.jpg');
   
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.banner3 {

	
	height: 500px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
    color: #000000;
    text-align: center;
    letter-spacing: 2px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    height: 500px;
    margin-top: 0px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding-top: 0px;
    font-style: italic;
    font-variant: small-caps;
    line-height: 55px;
    text-shadow: 0px 0px rgba(255,255,255,1.00);
}
.parallax_description {
	color: #FFFFFF;
	text-align: center;
	padding-right: 100px;
	width: 30%;
	float: right;
	
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
    padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
    color: #717070;
    font-size: 18px;
}
.cards {
    width: 100%;
    height: auto;
    max-width: 475px;
    max-height: 250px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;

	margin-left: 20px;
	margin-right: 20px;
}
.button {
    width: 200px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 3px solid #0C6301;
    color: #FFFFFF;
    transition: all 0.3s linear;
    background-color: black;
}
.button:hover {
	background-color: #FEFEFE;
	color: #000000;
	cursor: pointer;
	border: 3px solid #000000;
}
.copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 6px;
    border-top-width: 2px;
    margin-top: 20px;
}
.footer_banner {
    padding-top: 40px;
    padding-bottom: 75PX;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}
.center {
	text-align: center;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
	
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}

nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
    width: 100%;
    text-align: justify;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    overflow: hidden;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
    min-width: 100%;
    background-position: center;
    padding-top: 0px;
}
	.banner2 {
		background-position: center;
	}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #ffffff;
}
.container header nav {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 100%;
    float: none;
    overflow: auto;
    display: inline-block;
    background: #000;
    opacity: 0.65;
    padding-top: 20px;
}

	
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
    width: 100%;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
    width: 50%;
    margin-top: 0px;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
    width: 100%;
}
.banner {
    margin-top: -74px;
    padding-top: 0px;
}
	
	
	
}


.socialmedia {
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;	
}
.fa{
	padding: .3em;

}
li{
    text-decoration: none;
    list-style: none;
    margin-left: -7px;
}
.fa:hover {
    color: rgba(0,0,0,1.00);
}
.text {
}

h5 {
    font-size: 52px;
    color: #fff;
    z-index: 100;
    text-shadow: 3px 0px rgba(0,79,3,1.00);
}
h2 {
    color: #04692C;
}
 /* css for cards */

.container2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/IMG-20191023-WA0008.jpg");
    text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 25px;
  align-items: stretch;
  padding: 25px;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
}
